/*Cores, espaçamentos, fontes*/
$verde-neon: #39FF14;
$preto: #0A0A0A;
$azul-elect: #7DF9FF;
$section-backgrnd: #2e2e2e;
$sec-box-shadow: #CCCCCC;
$cor-secundaria: #f8f8f8;
$header-backgrnd: #111111;
$branco: #fff;
$input: #7b68ee;
$focus: #ffd700;
$fontes: 'Courier New', Courier, monospace;
$trans-time: 0.3s;
$altura-linha: 1.6;

